version: '3'
services: 
  yuuto:
    build:
      context: .
    container_name: yuuto
    deploy:
      restart_policy:
        condition: none
      resources:
        limits:
          memory: 512m
    environment:
      - TOKEN=
      - PREFIX=
      - EMBED_HELP=0
      - RAPID_API_KEY=
      # ignore format is BOTCMDS_{guild.id}={channel.id}
      # - BOTCMDS_684392803131850779=684788256797229066 for example